.container.signup-box
  .row
    .col.s12.l12
      = simple_form_for [@request_property, @property] do |f|
        -if @property.errors.any?
          #error_explanation
            %h3.chip
              = "#{@property.errors.count} errores encontrados:"
              <i class="material-icons">close</i>
            %ul
              -@property.errors.full_messages.each do |msg|
                %li.chip.waves-effect.waves-light.btn-large
                  =msg
                  <i class="material-icons">close</i>
        .row
          .col.s12.l12
            .section
              .row
                .col.s12
                  .input-field.col.s12
                    =f.text_field :register
                    %label{for: "#{:register}", class: "active"} Número de Inscripción:
                  .input-field.col.s12
                    =f.text_field :repertory
                    %label{for: "#{:repertory}", class: "active"} Número de Repertorio:
                  .input-field.col.s12 
                    =f.text_field :date_register
                    %label{for: "#{:date_register}", class: "active"} Fecha de Registro:
              .row
                .col.s12.l6
                  %button{class:"btn btn-fb", type:"submit", name:"action"}
                    Guardar<i class="material-icons right">send</i>
                .col.s12.l6
                  =link_to "Cancelar", @request_property, class: "btn btn-fb"