= form_for @sequence_act do |f|
  - if @sequence_act.errors.any?
    #error_explanation
      %h2= "#{pluralize(@sequence_act.errors.count, "error")} prohibited this sequence_act from being saved:"
      %ul
        - @sequence_act.errors.full_messages.each do |msg|
          %li= msg


  .field
    = f.label :sequence
    = f.number_field :sequence
  .field
    = f.label :date_sequence
    = f.number_field :date_sequence
  .actions
    = f.submit 'Save'